<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro User</title>


    <!-- Css da pag-->
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            height: 100vh;
            width: 100%;
            background: linear-gradient(90deg,
                    rgba(65, 184, 131, 1) 0%,
                    rgba(0, 212, 255, 1) 100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        nav {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            color: rgba(65, 184, 131, 1);
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
        }


        .content {
            background-color: #fff;
            padding: 30px 20px;
            border-radius: 5px;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 600px;
            margin: auto;
        }

        .title {
            color: rgba(0, 212, 255, 1);
        }

        /* Formulario */
        .box {
            color: azure;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 15px;
            border-radius: 15px;
            width: 60%;
        }

        fieldset {
            padding: 1rem;
            border: 3px solid dodgerblue;
        }

        legend {
            border: 1px solid dodgerblue;
            padding: 10px;
            text-align: center;
            background-color: dodgerblue;
            border-radius: 8px;
        }

        .inputBox {
            position: relative;
        }

        .inputUser {
            background: none;
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            color: white;
            font-size: 15px;
            width: 100%;
            letter-spacing: 2px;
        }

        .labelInput {
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
            transition: .5s;
        }

        .inputUser:focus~.labelInput,
        .inputUser:valid~.labelInput {
            top: -20px;
            font-size: 12px;
            color: dodgerblue;
        }

        #data_nascimento {
            border: none;
            padding: 8px;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
        }

        #submit {
            background: linear-gradient(90deg,
                    rgba(65, 184, 131, 1) 0%,
                    rgba(0, 212, 255, 1) 100%);
            width: 100%;
            border: none;
            padding: 15px;
            border-radius: 10px;
            color: azure;
            font-size: 15px;
            cursor: pointer;
        }

        #submit:hover {
            background: rgba(0, 212, 255, 1);
        }

        #submit:active {
            position: relative;
            top: 1px;
        }
    </style>
</header>